/*-----------------------
        BASIC SETUP
  -----------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s;
    --side-bar-width: 60px;
    --arrow-up-rotation: -180deg;
}


html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #555555;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    color: #3d3c40;
}

body {
    display: flex;
    flex-flow: column nowrap;
    
}

.tabs-nav li:hover,
.top-menu-icon:hover,
.add-btn-container:hover,
.reports-btn-container:hover,
.header-notifications div:hover,
.header-profile div:first-child:hover {
    cursor: pointer;
}



/*-----------------------
      MAIN CONTAINERS 
  -----------------------
*/


.header {
    display: flex;
    flex-flow:  row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 14px 25px 14px 30px;
    background-color: #ffffff;
}

.side-bar-main-page-container {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    
}
.main-container {
    width: calc(100% - var(--side-bar-width));
    height: 100%;
    margin: 0;
    padding: 10px 25px;
    background-color: #f9faff;
}

.side-bar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 100%;
    margin: 0;
    background-color: #43518e;
}



/*-----------------------
   HEADER COMPONENTS
  -----------------------
*/


/*--- containers ---*/


#topMenu {
    display: none;
}

.top-menu-icon {
    display: none;
    width: 23px;
    height: 23px;
}

.header-profile,
.header-notifications,
.header-icons {
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.header-logo-menu-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    height: auto;
}

.header-profile {
    border-right: 1px solid #e9e9e9;
    padding-right: 40px;
}

.header-notifications {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 40px;
}

.header-profile div,
.header-notifications div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-profile div {
    margin-right: 10px;
}


.header-notifications div {
    margin-right: 45px;
}



.collapsable-menu {
    display: none;
}

/*--- buttons-text-icons ---*/

.button-arrow-down {
    width: 10px;
    height: 10px;
    object-fit: contain;
}

.profile-name {
    width: 44px;
    height: 17px;
    font-size: 14px;
    font-weight: normal;
    line-height: normal; 
    text-align: right;
}

.header-oval-profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.button-bell {
    width: 16px;
    height: 20px;
}

.button-oval-plus {
    width: 29px;
    height: 29px;
}

.button-search {
    width: 16px;
    height: 16px;
}

.company-icon {
    width: 72px;
    height: 23px;
}



/*-----------------------
   SIDE-BAR COMPONENTS
  -----------------------
*/


/*--- containers ---*/

.side-bar-main-container {
    display: flex;
    flex-flow: column nowrap;
    width: 60px;
    
}

.side-bar-icon-container,
.side-bar-chat-container,
.side-bar-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #43518e;
}

.side-bar-icon-container:active,
.side-bar-icon-container:hover {
    background-color: #2c3970;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* side-bar Icons */

.icon-menu {
    fill: #9CA7D4;
}

.icon-menu:hover {
    fill: white;
}

.icon-home {
    width: 31px;
    height: 30px;
}

.icons-time-and-expenses {
    width: 16px;
    height: 20px;
}

.icon-clients {
    width: 26px;
    height: 16px;
}

.icon-finance {
    width: 21px;
    height: 21px;
}

.icon-organization-management {
    width: 24px;
    height: 22px;
}

.icon-reports {
    width: 18px;
    height: 22px;
}

.icon-chat {
    width: 38px;
    height: 38px;
}
  


/*-----------------------
   MAIN-PAGE COMPONENTS
  -----------------------
*/

/*** containers ***/

.back-btn-container {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.67;
    text-align: right;
    color: #5871dd;
}

.group-container, 
.main-container-buttons {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
}

.group-container {
    justify-content: space-between;
}

.add-btn-container,
.reports-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    margin-right: 18px;
    border-radius: 15px;
    background-color: #607bee;
}

.add-btn-container:hover,
.reports-btn-container:hover {
    background-color: #3f5be2;
    transition: background-color 0.3s;
}

/* Buttons and Components */

.buttons-arrows-right {
    width: 13px;
    height: 13px;
    margin-top:20%;
    margin-left:50%;
    margin-right: 15px;
    object-fit: contain;
}
 
.group-name {
    font-size: 28px;
    font-weight: normal;
    line-height: normal;
    text-align: right;
    white-space: nowrap;
    color: #515258;
}

.reports-btn {
    width: 16px;
    height: 15px; 
}

.buttons-plus {
  width: auto;
  height: auto;
}


/*--- TABS-NAV ---*/


.tabs-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 15px;
    border-bottom: solid 0.2px #b7bce0;
}

.tabs-nav li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    white-space: nowrap;
    border-bottom: solid 4px transparent;
    padding-bottom: 3px;
    font-size: 14px;   
}

.tabs-nav li:hover {
    border-width: auto;
    border-bottom: solid 4px #607bee; 
    transition: border-bottom 0.2s;
} 


/*-----------------------
   TABLE-COMPONENTS
  -----------------------
*/

/* --- Heading --- */

.table-heading {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 3px;
    margin-right: 10px;
    font-size: 14px;
    white-space: nowrap;
}

.table-heading a {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.67;
    color: #5871dd;
}

.table-heading a:link {
    text-decoration: none;
}

.table-heading-topics {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    white-space: nowrap;
    padding-left: 2px;
    margin-right: 8px;
    width: 61%;
}

.table-heading-add-file {
    width: 10%;
}

/* --- Content --- */

.table-content-container {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 0 8px 0 rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: auto;
    max-height: 75%;
    background-color: #ffffff;
}


/*--- Table Rows and Cells ---*/

.files-table {
    border-collapse: collapse;
    width: 100%;
    height: auto;
    margin-top: 1%;
    font-size: 14px; 
}

.files-table tr td:last-child {
    padding-right: 20px;
}

.files-table tr td:first-child {
    justify-content: flex-start;
    padding-left: 28px;
}

.files-table tr:last-child td:first-child {
     border-bottom-left-radius: 10px;
}

.files-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.files-table tr:first-child td:first-child {
     border-top-left-radius: 10px;
}

.files-table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

.files-table td {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    border-bottom: solid 1px #e6e6e6;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.files-table tr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.files-table tr:first-child {
    height: 55px;
}

/* Table-Icons */

.pdf-icon {
    object-fit: contain;
    margin-left: 6px;
    width: 15px;
    height: 19px;
}

.oval-profile-files {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 8px;
}

.button-arrow-up {
    width: 10px;
    height: 10px;
    margin-top: 1px;
    margin-right: 8px;
    object-fit: contain;
    transform: rotate(var(--arrow-up-rotation));
}

