
/* Small phones to small tablets 481px to 767px */

@media only screen and (max-width: 767px) {
   
        
    /* ---HEADER---- */
    
    .header-notifications div {
        margin-right: 30px;
    }
    
    .header-profile {
        padding-right: 10px;
    }
    
    .header-notifications {
        padding-left: 20px;
    }
    
    .collapsable-menu { 
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: auto;
    }
  
    .collapsable-menu :not(:first-child) {display: none;}
    
    .collapsable-menu:hover {
        display: flex;
        background-color: red;
    }
    .menu-tab {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    .menu-tab:hover {
        cursor: pointer;
    }
    
    .header-logo {
        margin-right: 20px;
    }

    
    .icon-menu {
        width: 26px;
        height: 26px;
    }
    
    
    /* ---SIDE-BAR---- */
    
    .side-bar { display: none; }
    
    /* ---MAIN-PAGE---- */
    
    
    .main-container {
        width: 100%;
    }
    
    .tabs-nav li {
         font-size: 12px;
    }
    
    .add-btn-container,
    .reports-btn-container {
        width: 40px;
        height: 20px;
    
    }
    
    /* BUTTONS and COMPONENTS */

    .buttons-arrows-right {
        width: 10px;
        height: 10px;
    }
 
    .group-name {
        font-size: 22px;
    }

    .reports-btn {
        width: 10px;
        height: 10px; 
    }

    .buttons-plus {
    width: 10px;
    height: 10px;
    }
    
    /*  -----------------------
            TABLE-COMPONENTS
        ----------------------- */
                           

    /*--- containers ---*/
    
    .table-heading-topics {
        width: 66%;
    }

    .table-heading,
    .table-heading a {
        font-size: 12px;
    }
    
    /*--- table ---*/

    .files-table {
        white-space: nowrap;
        font-size: 11px; 
    }
    
    /* ICONS */

    .pdf-icon {
        width: 14px;
        height: 18px;
    }

    .oval-profile-files {
        width: 22px;
        height: 22px;
    }

    .button-arrow-up {
        width: 8px;
        height: 8px;
    }
    
    .files-table td {
        margin-left: 12px;
    }
    
    .files-table td:first-child {
        margin: -7px;
    }
      
}



/* Small phones 0 to 480px */

@media only screen and (max-width: 480px) {
    
    
       /* ---HEADER---- */
    
    .header-notifications div {
        margin-right: 10px;
    }
    
    .header-profile {
        padding-right: 5px;
    }
    
    .header-notifications {
        padding-left: 10px;
    }
    
    .profile-name {
        font-size: 12px;
    }

    .button-bell {
        width: 13px;
        height: 17px;
    }

    .button-oval-plus {
        width: 24px;
        height: 24px;
    }

    .button-search {
        width: 14px;
        height: 14px;
    }

    .header-logo {
        width: 70px;
        height: 20px;
    }
    
    .header-icons a {
        margin: 0;
    }
    
    .button-arrow-down {
        width: 7px;
        height: 7px;
    }


    .header-oval-profile {
        width: 27px;
        height: 27px;
    }
    
    
    /* ---SIDE-BAR---- */
    
    .side-bar {
       display: none;
    }
   
    .collapsable-menu {
        display: flex;
    }
    .collapsable-menu :not(:first-child) {display: none;}

    
    /* ---MAIN-PAGE---- */
    
    
    .main-container {
        width: 100%;
    }
    
    .tabs-nav li {
         font-size: 10px;
    }
    
    .add-btn-container,
    .reports-btn-container {
        width: 40px;
        height: 20px;
    
    }
    
    /* BUTTONS and COMPONENTS */

    .buttons-arrows-right {
        width: 10px;
        height: 10px;
    }
 
    .group-name {
        font-size: 20px;
    }

    .reports-btn {
        width: 10px;
        height: 10px; 
    }

    .buttons-plus {
    width: 10px;
    height: 10px;
    }
    
    /*  -----------------------
            TABLE-COMPONENTS
        ----------------------- */
                           

    /*--- containers ---*/
    
    .table-heading-topics {
        width: 68%;
    }

    .table-heading,
    .table-heading a {
        font-size: 10px;
    }
    
    /*--- table ---*/

    .files-table {
        white-space: nowrap;
        font-size: 10px; 
    }
    
    /* ICONS */

    .pdf-icon {
        width: 12px;
        height: 16px;
    }

    .oval-profile-files {
        width: 20px;
        height: 20px;
    }

    .button-arrow-up {
        width: 7px;
        height: 7px;
    }
    
}