



/* Big tablet to 1200px(width smaller than the 1140px row) */

@media only screen and (max-width: 1200px) {

}


/* Small tablet to big tablet 768px to 1023px */

@media only screen and (max-width: 1023px) {
    body { font-size: 18px;}

}


/* Small phones to small tablets 481px to 767px */

@media only screen and (max-width: 767px) {
   
        
    
    /* ---HEADER---- */
    
    .header-text {
        margin-left: 4%;
    }
    
    .button-bell {
        margin-left: 220%;
    }

    .button-oval-plus {
        margin-left: 220%;
    }

    .button-search {
        margin-left: 700%;
  
    }

    .header-logo {
        margin-right: 100%;

    }
    
    .header-icons a {
        margin: 0;
    }
    
    ion-icon {
        font-size: 140%;
        display: block;
        color: #43518e;
    }
   
    
    /* ---SIDE-BAR---- */
    
    .side-bar {
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
        background-color: white;
    }
    
    .side-bar-menu-container:first-child {
        background-color: white;
    }
    
    .side-bar :not(:first-child) {display: none;}
    
    
    /* ---MAIN-PAGE---- */
    
    
    .main-container {
        width: 100%;
    }
    
    .tabs-nav li {
         font-size: 12px;
    }
    
    .add-btn-container,
    .reports-btn-container {
        width: 40px;
        height: 20px;
    
    }
    
    /* BUTTONS and COMPONENTS */

    .buttons-arrows-right {
        width: 10px;
        height: 10px;
    }
 
    .group-name {
        font-size: 22px;
    }

    .reports-btn {
        width: 10px;
        height: 10px; 
    }

    .buttons-plus {
    width: 10px;
    height: 10px;
    }
    
    /*  -----------------------
            TABLE-COMPONENTS
        ----------------------- */
                           

    /*--- containers ---*/

    .table-heading,
    .table-heading a {
        font-size: 12px;
    }
    
    /*--- table ---*/

    .files-table {
        white-space: nowrap;
        font-size: 11px; 
    }
    
    /* ICONS */

    .pdf-icon {
        width: 14px;
        height: 18px;
    }

    .oval-profile-files {
        width: 22px;
        height: 22px;
    }

    .button-arrow-up {
        width: 8px;
        height: 8px;
    }
    
    .files-table td {
        margin-left: 12px;
    }
    
    .files-table td:first-child {
        margin: -7px;
    }
      
}



/* Small phones 0 to 480px */

@media only screen and (max-width: 480px) {
    
    
    
    /* ---HEADER---- */
    
    .header-text {
        margin-left: 5%;
        font-size: 11px;
    }
    
    .button-bell {
        width: 13px;
        height: 17px;
        margin-left: 140%;
    }

    .button-oval-plus {
        width: 24px;
        height: 24px;
        margin-left: 140%;
    }

    .button-search {
        margin-left: 400%;
        width: 14px;
        height: 14px;
    }

    .header-logo {
        margin-right: 70px;
        width: 70px;
        height: 20px;
    }
    
    .header-icons a {
        margin: 0;
    }
    
    .button-arrow-down {
        width: 7px;
        height: 7px;
    }


    .header-oval-profile {
        width: 25px;
        height: 25px;
    }
    
    ion-icon {
        font-size: 140%;
        display: block;
        color: #43518e;
    }
   
    
    /* ---SIDE-BAR---- */
    
    .side-bar {
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
    }
    
    .side-bar-menu-container:first-child {
        background-color: white;
    }
    
    .side-bar :not(:first-child) {display: none;}
    
    
    /* ---MAIN-PAGE---- */
    
    
    .main-container {
        width: 100%;
    }
    
    .tabs-nav li {
         font-size: 10px;
    }
    
    .add-btn-container,
    .reports-btn-container {
        width: 40px;
        height: 20px;
    
    }
    
    /* BUTTONS and COMPONENTS */

    .buttons-arrows-right {
        width: 10px;
        height: 10px;
    }
 
    .group-name {
        font-size: 20px;
    }

    .reports-btn {
        width: 10px;
        height: 10px; 
    }

    .buttons-plus {
    width: 10px;
    height: 10px;
    }
    
    /*  -----------------------
            TABLE-COMPONENTS
        ----------------------- */
                           

    /*--- containers ---*/

    .table-heading,
    .table-heading a {
        font-size: 10px;
    }
    
    /*--- table ---*/

    .files-table {
        white-space: nowrap;
        font-size: 10px; 
    }
    
    /* ICONS */

    .pdf-icon {
        width: 12px;
        height: 16px;
    }

    .oval-profile-files {
        width: 20px;
        height: 20px;
    }

    .button-arrow-up {
        width: 7px;
        height: 7px;
    }
    
}